h1{
  column-span: all;
  text-align: center;
}
main{
  max-width: 1800px;
  margin: auto;
  padding: 0.5em;
  columns: 3 300px;
  column-rule: 3px double #aaa;
  column-gap: 5em;
  column-fill: balance;
  text-align: justify;

}